<launch>
  <arg name="number" />
  <arg name="control_type" />
  <arg name="camera"/>
  <include file="$(find crawler)/launch/spawn.launch">
    <arg name="number" value="$(arg number)" />
    <!-- displacement settings -->
    <arg name="ypos" value="$(eval arg('number') * 10)" />
    <arg name="camera" value="$(arg camera)"/>
  </include>

  <include file="$(find crawler)/launch/control.launch">
    <arg name="number" value="$(arg number)" />
    <arg name="control_type" value="$(arg control_type)"/>
    <arg name="camera" value="$(arg camera)"/>
  </include>
</launch>