<launch>

  <!-- Load the URDF into the ROS Parameter Server -->
  <arg name="number"/>
  <arg name="ypos"/>
  <arg name="camera"/>
  <param name="robot_description" if="$(eval camera==0)" command="$(find xacro)/xacro '$(find crawler)/urdf/crawler.xacro'" />
  <param name="robot_description" if="$(eval camera==1)" command="$(find xacro)/xacro '$(find crawler)/urdf/crawlerCam.xacro'" />

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner_robot" pkg="gazebo_ros" type="spawn_model" respawn="false" 
    output="screen" args="-urdf -model crawler_$(arg number) -param robot_description -y $(arg ypos) -z 0.8"/>
</launch>